{% extends "base.html" %}
{% load static %}

{% block page_title %}
  All Chalenges!
{% endblock %}

{% block css_files %} 
  <div>aqui está a div css_files</div>
  <link rel="stylesheet" href="{% static 'challenges/challenges.css' %}">
  <link rel="stylesheet" href="{% static 'challenges/includes/header.css' %}">
{% endblock %}

{% block content %}
  {% include  "challenges/includes/header.html" with variable_test='we are in the index page' %}
    <ul>
        {% for month in months %}
          <li><a href="{% url 'path_name' month %}">{{ month|title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
